services:
  gateway-service:
    build:
      context: ./API-Gateway
      dockerfile: Dockerfile
    ports:
      - "28081:8080"
    restart: always
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
  auth-service:
    build:
      context: ./MicroServices/Auth_Service
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5001:8080"
    container_name: holcim-auth-service
    environment:
      ConnectionStrings__DB_SERVER: "holcim1.database.windows.net"
      ConnectionStrings__DB_PORT: "1433"
      ConnectionStrings__DB_NAME: "ng-holcim-qa"
      ConnectionStrings__DB_USER: "holcim"
      ConnectionStrings__DB_PASSWORD: "Borealys."
      ConnectionStrings__DB_CERIFICATE: "True"
      ASPNETCORE_HTTP_PORTS: "8080"
      ASPNETCORE_ENVIRONMENT: "Development"
    networks:
      - holcim-net
  documents-service:
    build:
      context: ./MicroServices/Documents_Service
      dockerfile: Dockerfile
    restart: always
    container_name: holcim-documents-service
    ports:
      - "5002:8080"
    environment:
      ConnectionStrings__DB_SERVER: "holcim1.database.windows.net"
      ConnectionStrings__DB_PORT: "1433"
      ConnectionStrings__DB_NAME: "ng-holcim-qa"
      ConnectionStrings__DB_USER: "holcim"
      ConnectionStrings__DB_PASSWORD: "Borealys."
      ConnectionStrings__DB_CERIFICATE: "True"
      ASPNETCORE_HTTP_PORTS: "8080"
      ASPNETCORE_ENVIRONMENT: "Development"
      Servicios__ApiGatwey: "https://dev-holcim-api.nxs-dev.com.co"
    networks:
      - holcim-net
  task-send-service:
    build:
      context: ./MicroServices/TaskSend_Service
      dockerfile: Dockerfile
    restart: always
    container_name: holcim-task-send-service
    ports:
      - "5003:8080"
    environment:
      ConnectionStrings__DB_SERVER: "holcim1.database.windows.net"
      ConnectionStrings__DB_PORT: "1433"
      ConnectionStrings__DB_NAME: "ng-holcim-qa"
      ConnectionStrings__DB_USER: "holcim"
      ConnectionStrings__DB_PASSWORD: "Borealys."
      ConnectionStrings__DB_CERIFICATE: "True"
      ASPNETCORE_HTTP_PORTS: "8080"
      ASPNETCORE_ENVIRONMENT: "Development"
    networks:
      - holcim-net
  provider-service:
    build:
      context: ./MicroServices/Provider_Service
      dockerfile: Dockerfile
    restart: always
    container_name: holcim-provider-service
    ports:
     - "5004:8080"
    environment:
      ConnectionStrings__DB_SERVER: "holcim1.database.windows.net"
      ConnectionStrings__DB_PORT: "1433"
      ConnectionStrings__DB_NAME: "ng-holcim-qa"
      ConnectionStrings__DB_USER: "holcim"
      ConnectionStrings__DB_PASSWORD: "Borealys."
      ConnectionStrings__DB_CERIFICATE: "True"
      ASPNETCORE_HTTP_PORTS: "8080"
      ASPNETCORE_ENVIRONMENT: "Development"
    networks:
      - holcim-net
  contracts-service:
    build:
      context: ./MicroServices/Contracts_Service
      dockerfile: Dockerfile
    restart: always
    container_name: holcim-contracts-service
    ports:
     - "5005:8080"
    environment:
    # comentario prueba
      ConnectionStrings__DB_SERVER: "holcim1.database.windows.net"
      ConnectionStrings__DB_PORT: "1433"
      ConnectionStrings__DB_NAME: "ng-holcim-qa"
      ConnectionStrings__DB_USER: "holcim"
      ConnectionStrings__DB_PASSWORD: "Borealys."
      ConnectionStrings__DB_CERIFICATE: "True"
      ASPNETCORE_HTTP_PORTS: "8080"
      ASPNETCORE_ENVIRONMENT: "Development"
    networks:
      - holcim-net
  auction-service:
    build:
      context: ./MicroServices/AuctionService
      dockerfile: Dockerfile
    restart: always
    container_name: holcim-auction-service
    ports:
     - "5006:8080"
    environment:
      ConnectionStrings__DB_SERVER: "holcim1.database.windows.net"
      ConnectionStrings__DB_PORT: "1433"
      ConnectionStrings__DB_NAME: "ng-holcim-qa"
      ConnectionStrings__DB_USER: "holcim"
      ConnectionStrings__DB_PASSWORD: "Borealys."
      ConnectionStrings__DB_CERIFICATE: "True"
      ASPNETCORE_HTTP_PORTS: "8080"
      ASPNETCORE_ENVIRONMENT: "Development"
      Servicios__ApiGatwey: "https://dev-holcim-api.nxs-dev.com.co"
    networks:
      - holcim-net
  translator-service:
    build:
      context: ./MicroServices/Trasnlator_Service
      dockerfile: Dockerfile
    restart: always
    container_name: holcim-trasnlator-service
    ports:
     - "5007:8080"
    environment:
      ConnectionStrings__DB_SERVER: "holcim1.database.windows.net"
      ConnectionStrings__DB_PORT: "1433"
      ConnectionStrings__DB_NAME: "ng-holcim-qa"
      ConnectionStrings__DB_USER: "holcim"
      ConnectionStrings__DB_PASSWORD: "Borealys."
      ConnectionStrings__DB_CERIFICATE: "True"
      ASPNETCORE_HTTP_PORTS: "8080"
      ASPNETCORE_ENVIRONMENT: "Development"
      Servicios__ApiGatwey: "https://dev-holcim-api.nxs-dev.com.co"
      AWS__awsAccessKeyId: "AKIA2NK3YLNBNHPTKNOD"
      AWS__awsSecretAccessKey: "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"
    networks:
      - holcim-net
  socket-service:
    build:
      context: ./MicroServices/Socket_Service
      dockerfile: Dockerfile
    restart: always
    container_name: holcim-socket-service
    ports:
     - "5008:8080"
    environment:
      NODE_ENV: development
      PORT: 3000
      CORS_ORIGIN: "*"
      DB_USER: holcim
      DB_PASSWORD: Borealys.
      DB_SERVER: holcim1.database.windows.net
      DB_PORT: 1433
      URL_BASE: https://dev-holcim-api.nxs-dev.com.co
      EP_ADD_SUBASTA: /auction/api/Subasta/putAgregarTiempoSubasta
      EP_ADD_OFFTER : /auction/api/Subasta/PostCreateOffer
      EP_SUSPE_AUCTION : /auction/api/Subasta/UpdateFechaPausaSubasta
      EP_ACTIVATE_AUCTION : /auction/api/Subasta/UpdateFechaReanudarSubasta
      EP_END_AUCTION: /auction/api/Subasta/putActualizarEstadoSubasta 
      DB_DATABASE: HolcimDev
    networks:
      - holcim-net
